@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
}
/* use realtimecolors.com to generate font colors for light and dark themes */

:root {
  --text: #070803;
  --background: #fdfefa;
  --primary: #c9db2f;
  --secondary: #e9f487;
  --accent: #eafc4e;
  --border: #e3e3e3;
  --off-bg: #f2f9de;
  /* --head-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  */
}

.dark {
  --text: #fbfcf8;
  --background: #030401;
  --primary: #bfd025;
  --secondary: #6e790b;
  --accent: #9fb003;
  --border: #262626;
  --off-bg: #141600;
}
/* 
body {
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--head-font);
} */
.gradient {
  z-index: -3;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(1, 246, 22) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(244, 232, 4) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(140, 168, 232) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: fixed;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
}

.color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  min-height: 200px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.color::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}

.color::-moz-color-swatch {
  border-radius: 10px;
  border: none;
  
}

.single-column {
  @apply flex flex-col items-start gap-5 max-w-[700px]
}
.three-column-grid{
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3 break-inside-avoid w-full
}
.border{
  @apply border-[1px] px-6 py-3
}
.no-border{
  @apply px-6 mb-5 px-0
}